@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/mixins" as mix;

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: var(--spacing-md);
  font-size: var(--font-size-sm);

  @include mix.media("screen") {
    @include mix.dimensions("sm") {
      display: flex;
      flex-flow: column nowrap;
      margin: 0;
      composes: meta from "@components/PostPreview/PostPreview.module.scss";
    }
  }
}
