@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/placeholders";

.meta {
  flex-flow: column wrap;
}

.list {
  @extend %flex-list;

  gap: var(--spacing-xs);
}

.item {
  > a {
    padding: calc(var(--spacing-2xs) / 2) var(--spacing-xs);
  }
}
