@use "@styles/abstracts/functions" as fun;

.img {
  margin: 0;
}

.txt {
  padding: var(--spacing-sm);
}

.widget {
  &--left {
    .img {
      margin-right: auto;
    }

    .txt {
      text-align: left;
    }
  }

  &--center {
    .img {
      margin-left: auto;
      margin-right: auto;
    }

    .txt {
      text-align: center;
    }
  }

  &--right {
    .img {
      margin-left: auto;
    }

    .txt {
      text-align: right;
    }
  }
}
