@use "../../../styles/abstracts/functions" as fun;
@use "../../../styles/abstracts/placeholders";

.widget {
  .list {
    .list {
      padding: 0;

      > *:first-child {
        border-top: fun.convert-px(1) solid var(--color-primary);
      }
    }

    &__link {
      display: block;
      padding: var(--spacing-2xs) var(--spacing-xs);
      background: none;
      text-decoration: underline solid transparent 0;

      &:hover,
      &:focus {
        background: var(--color-bg-secondary);
        font-weight: 600;
      }

      &:focus {
        color: var(--color-primary);
        text-decoration-color: var(--color-primary-light);
        text-decoration-thickness: 0.25ex;
      }

      &:active {
        background: var(--color-bg-tertiary);
        text-decoration-color: transparent;
        text-decoration-thickness: 0;
      }
    }

    &--ordered {
      counter-reset: link;

      .list__link {
        counter-increment: link;

        &::before {
          padding-right: var(--spacing-2xs);
          content: counters(link, ".") ". ";
          color: var(--color-secondary);
        }
      }
    }

    &__item {
      &:not(:last-child) {
        border-bottom: fun.convert-px(1) solid var(--color-primary);
      }

      > .list {
        .list__link {
          padding-left: var(--spacing-md);
        }

        .list__item > .list {
          .list__link {
            padding-left: var(--spacing-xl);
          }
        }
      }
    }
  }
}
