{
  "presets": ["next/babel"],
  "plugins": [
    "macros",
    [
      "prismjs",
      {
        "languages": [
          "apacheconf",
          "bash",
          "css",
          "diff",
          "docker",
          "editorconfig",
          "ejs",
          "git",
          "html",
          "ignore",
          "ini",
          "javascript",
          "jsdoc",
          "json",
          "jsx",
          "makefile",
          "markup",
          "php",
          "phpdoc",
          "regex",
          "scss",
          "shell-session",
          "smarty",
          "tcl",
          "toml",
          "tsx",
          "twig",
          "yaml"
        ],
        "plugins": [
          "command-line",
          "copy-to-clipboard",
          "diff-highlight",
          "inline-color",
          "line-highlight",
          "line-numbers",
          "match-braces",
          "normalize-whitespace",
          "show-language",
          "toolbar"
        ]
      }
    ]
  ]
}
