@use "@styles/abstracts/mixins" as mix;

.wrapper {
  padding-bottom: var(--spacing-sm);

  @include mix.media("screen") {
    @include mix.dimensions("lg") {
      max-height: 100vh;
      position: sticky;
      top: 0;
      overflow: auto;
      visibility: hidden;

      > * {
        visibility: visible;
      }

      &:hover {
        visibility: visible;
      }
    }
  }
}

.list {
  margin-bottom: 0;
}
