@use "@styles/abstracts/functions" as fun;

.field {
  background: var(--color-bg-tertiary);
  border: fun.convert-px(2) solid var(--color-border);
  box-shadow: fun.convert-px(3) fun.convert-px(3) 0 0 var(--color-shadow);
  transition: all 0.25s linear 0s;

  &:not(.select) {
    width: 100%;
    padding: var(--spacing-2xs) var(--spacing-xs);
  }

  &:hover {
    box-shadow: fun.convert-px(5) fun.convert-px(5) 0 fun.convert-px(1)
      var(--color-shadow);
    transform: translate(#{fun.convert-px(-3)}, #{fun.convert-px(-3)});
  }

  &:focus {
    background: var(--color-bg);
    border-color: var(--color-primary);
    box-shadow: 0 0 0 0 var(--color-shadow);
    transform: translate(#{fun.convert-px(3)}, #{fun.convert-px(3)});
    outline: none;
    transition: all 0.2s ease-in-out 0s, transform 0.3s ease-out 0s;
  }
}

.select {
  padding: fun.convert-px(3) var(--spacing-xs);
  cursor: pointer;

  &:hover {
    box-shadow: fun.convert-px(4) fun.convert-px(4) 0 fun.convert-px(1)
      var(--color-shadow);
    transform: translate(#{fun.convert-px(-2)}, #{fun.convert-px(-2)});
  }

  &:focus {
    box-shadow: 0 0 0 0 var(--color-shadow);
    transform: translate(#{fun.convert-px(3)}, #{fun.convert-px(3)});
  }
}

.textarea {
  min-height: fun.convert-px(200);
}
