.list {
  .description:not(:first-of-type) {
    &::before {
      display: inline;
      float: left;
      content: "/";
      margin-right: var(--itemSpacing);
    }
  }

  &--stack {
    .term {
      flex: 0 0 100%;
    }
  }
}
