@use "@styles/abstracts/mixins" as mix;

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include mix.media("screen") {
    @include mix.dimensions("sm") {
      display: flex;
      flex-flow: column nowrap;
    }
  }
}

.value {
  word-break: break-all;
}
