@use "../abstracts/functions" as fun;
@use "../abstracts/mixins" as mix;
@use "../abstracts/placeholders";
@use "partials/article-headings";
@use "partials/article-links";
@use "partials/article-lists";
@use "partials/article-media";
@use "partials/article-wp-blocks";

.btn {
  margin-right: var(--spacing-2xs);
  padding: var(--spacing-2xs) var(--spacing-xs);

  img {
    max-width: fun.convert-px(22);
  }
}

.body {
  :global {
    @include article-headings.styles;
    @include article-links.styles;
    @include article-lists.styles;
    @include article-media.styles;
    @include article-wp-blocks.styles;
    @extend %prism;
  }
}

:global([data-theme="light"]) {
  :local {
    .body {
      :global {
        a {
          &.download {
            @extend %light-download-link;
          }

          &.external {
            @extend %light-external-link;
          }
        }
      }
    }
  }
}

:global([data-theme="dark"]) {
  :local {
    .body {
      :global {
        a {
          &.download {
            @extend %dark-download-link;
          }

          &.external {
            @extend %dark-external-link;
          }
        }
      }
    }
  }
}

.widget {
  @include mix.media("screen") {
    @include mix.dimensions("md") {
      ul {
        width: min-content;
      }
    }
  }
}
