@use "../abstracts/functions" as fun;
@use "../abstracts/mixins" as mix;
@use "../abstracts/placeholders";
@use "partials/article-headings";
@use "partials/article-links";
@use "partials/article-lists";
@use "partials/article-media";
@use "partials/article-wp-blocks";

.list {
  @include mix.media("screen") {
    @include mix.dimensions("md") {
      --col1: #{fun.convert-px(100)};
      --gap: var(--spacing-lg);

      margin-left: calc((var(--col1) + var(--gap)) * -1);
    }
  }
}

.sharing-widget {
  @include mix.media("screen") {
    @include mix.dimensions("md") {
      ul {
        width: min-content;
      }
    }
  }
}

.logo {
  max-width: fun.convert-px(50);
  margin: 0 var(--spacing-xs) 0 0;
}

.body {
  :global {
    @include article-headings.styles;
    @include article-links.styles;
    @include article-lists.styles;
    @include article-media.styles;
    @include article-wp-blocks.styles;
    @extend %prism;
  }
}

:global([data-theme="light"]) {
  :local {
    .body {
      :global {
        a {
          &.download {
            @extend %light-download-link;
          }

          &.external {
            @extend %light-external-link;
          }
        }
      }
    }
  }
}

:global([data-theme="dark"]) {
  :local {
    .body {
      :global {
        a {
          &.download {
            @extend %dark-download-link;
          }

          &.external {
            @extend %dark-external-link;
          }
        }
      }
    }
  }
}
