@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/placeholders";

.links-list {
  @extend %flex-list;

  gap: var(--spacing-md);
  margin: 0 0 var(--spacing-md);
}

.icon--feed {
  width: fun.convert-px(20);
}

:global {
  [data-theme="dark"] {
    :local {
      .icon--feed {
        filter: brightness(0.8) contrast(1.1);
      }
    }
  }
}

.section {
  --icon-size: #{fun.convert-px(20)};

  composes: grid from "@styles/layout/_grid.scss";
  padding: var(--spacing-md) 0;
  background: var(--color-bg-secondary);

  &:not(:last-child) {
    border-bottom: fun.convert-px(1) solid var(--color-border);
  }

  &:nth-child(2n) {
    background: var(--color-bg);
  }

  > * {
    grid-column: 2;
  }

  :global {
    .wp-block-columns {
      margin: 0 0 var(--spacing-md);
    }
  }
}
