@use "@styles/abstracts/mixins" as mix;
@use "@styles/abstracts/placeholders";

.wrapper {
  composes: grid from "@styles/layout/_grid.scss";
  align-items: first baseline;
  padding-bottom: var(--spacing-xl);

  > header {
    grid-column: 1 / -1;
  }

  > div {
    grid-column: 1 / 3;
  }

  > button {
    grid-column: 2;
  }

  > aside > div {
    max-height: 100vh;
    overflow: auto;
  }
}

.body {
  --column-3: 0;
  --grid-gap: 0;

  grid-column: 2;
  composes: grid from "@styles/layout/_grid.scss";
  align-items: first baseline;

  @include mix.media("screen") {
    @include mix.dimensions("md") {
      grid-row: 2;
    }
  }

  > * {
    grid-column: 2;
  }
}

.list {
  @extend %reset-ordered-list;
}

li.item {
  margin: 0 0 var(--spacing-md) 0;
}
