@use "@styles/abstracts/placeholders";

.wrapper {
  padding-bottom: var(--spacing-lg);
}

.list {
  @extend %reset-ordered-list;
}

li.item {
  margin: 0 0 var(--spacing-md) 0;
}

.body,
.section {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) min(calc(100vw - calc(var(--spacing-md) * 2)), 80ch)
    minmax(0, 1fr);

  > * {
    grid-column: 2;
  }
}
