@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/mixins" as mix;
@use "@styles/abstracts/placeholders";

.article {
  composes: grid from "@styles/layout/_grid.scss";

  > header {
    grid-column: 1 / -1;
  }

  > footer,
  .body {
    grid-column: 2;
  }

  &--no-comments {
    margin-bottom: var(--spacing-xl);
  }
}

.toc {
  grid-column: 2;

  @include mix.media("screen") {
    @include mix.dimensions("lg") {
      grid-column: 1;
      grid-row: 2 / 4;
      align-self: stretch;
      justify-self: end;
      padding: 0 var(--spacing-sm);

      ol:first-of-type {
        font-size: var(--font-size-sm);
        font-weight: 500;
      }
    }
  }
}

.list {
  @extend %reset-ordered-list;
}

li.item {
  margin: 0 0 var(--spacing-md) 0;
}

.comments {
  grid-column: 1 / -1;
  composes: grid from "@styles/layout/_grid.scss";
  margin: var(--spacing-md) 0 0;
  padding: var(--spacing-md) 0 var(--spacing-lg);
  background: var(--color-bg-secondary);
  border-top: fun.convert-px(3) solid var(--color-border-lighter);

  > * {
    grid-column: 2;
  }
}

.aside {
  align-self: start;
  max-height: 100vh;
  position: sticky;
  top: 0;

  &--overflow {
    overflow: auto;
  }
}
