@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/mixins" as mix;
@use "@styles/abstracts/placeholders";

.article {
  composes: grid from "@styles/layout/_grid.scss";
  align-items: start;

  > header {
    grid-column: 1 / -1;
  }

  > footer,
  .body {
    grid-column: 2;
  }

  &--no-comments {
    margin-bottom: var(--spacing-xl);
  }
}

.list {
  @extend %reset-ordered-list;
}

li.item {
  margin: 0 0 var(--spacing-md) 0;
  border-bottom: fun.convert-px(1) solid var(--color-border);
}

.comments {
  grid-column: 1 / -1;
  composes: grid from "@styles/layout/_grid.scss";
  margin: var(--spacing-md) 0 0;
  padding: var(--spacing-md) 0 var(--spacing-lg);
  background: var(--color-bg-secondary);
  border-top: fun.convert-px(3) solid var(--color-border-light);

  > * {
    grid-column: 2;
  }
}

.status {
  max-width: max-content;
  margin: var(--spacing-md) 0;
  padding: var(--spacing-sm);
  border: fun.convert-px(3) solid var(--color-border-light);
  border-radius: fun.convert-px(5);

  &--error {
    border-color: var(--color-token-red);
  }

  &--success {
    border-color: var(--color-token-green);
  }

  &--warning {
    border-color: var(--color-token-orange);
  }
}
