@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/placeholders";

.title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--spacing-sm);
}

.cover {
  display: block;
  width: fun.convert-px(50);
  height: fun.convert-px(50);
  position: relative;
}

.list {
  @extend %reset-ordered-list;

  margin: var(--spacing-md) auto;
}

li.item {
  margin: var(--spacing-md) 0;
}
