@use "@styles/abstracts/functions" as fun;

.noscript {
  color: var(--color-primary-darker);

  &--top {
    padding: var(--spacing-xs) var(--spacing-sm);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--color-bg);
    border-bottom: fun.convert-px(3) solid var(--color-border);
    font-size: var(--font-size-sm);
    font-weight: 600;
    text-align: center;
  }
}
