@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/mixins" as mix;
@use "@styles/abstracts/placeholders";

.wrapper {
  composes: grid from "@styles/layout/_grid.scss";
  padding: var(--spacing-md) 0;
}

.list {
  @extend %reset-ordered-list;

  grid-column: 2;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--spacing-2xs);
  margin: 0;
  font-size: var(--font-size-sm);
}

.item {
  &:not(:last-of-type) {
    &::after {
      content: ">";
      margin-left: var(--spacing-2xs);
    }
  }
}
