.wrapper {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) min(calc(50vw - var(--spacing-md)), 40ch) min(
      calc(50vw - var(--spacing-md)),
      40ch
    )
    minmax(0, 1fr);
  align-items: center;
  padding: var(--spacing-md) 0;
}

.body {
  grid-column: 2 / 4;
}
