@use "@styles/abstracts/functions" as fun;

.noscript {
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-sm);
  position: fixed;
  top: 0;
  z-index: 10;
  background: var(--color-bg);
  border-bottom: fun.convert-px(3) solid var(--color-border);
  color: var(--color-primary-darker);
  font-size: var(--font-size-sm);
  font-weight: 600;
  text-align: center;
}

.noscript-spacing {
  width: 100%;
  height: fun.convert-px(80);
}
