@use "@styles/abstracts/functions" as fun;

.checkbox {
  position: absolute;
  top: calc(#{fun.convert-px(50)} / 2);
  left: calc(#{fun.convert-px(50)} / 2);
  opacity: 0;
  cursor: pointer;
}

.label {
  display: block;
  cursor: pointer;

  .icon {
    &__wrapper {
      --icon-size: #{fun.convert-px(50)};
    }

    &--active {
      background: transparent;
      border: transparent;

      &::before {
        top: 0;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
      }

      &::after {
        bottom: 0;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
      }
    }
  }
}
