@use "@styles/abstracts/functions" as fun;

.icon {
  position: relative;
  width: 100%;

  &,
  &::before,
  &::after {
    background: var(--color-primary-lighter);
    background-image: linear-gradient(
      to right,
      var(--color-primary-light) 0%,
      var(--color-primary-lighter) 100%
    );
    border: fun.convert-px(1) solid var(--color-primary-darker);
    border-radius: fun.convert-px(3);
    display: block;
    height: fun.convert-px(7);
    margin: auto;
    transition: all 0.25s ease-in-out 0s, transform 0.4s ease-in 0s;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: fun.convert-px(-1);
    right: fun.convert-px(-1);
  }

  &::before {
    bottom: fun.convert-px(15);
  }

  &::after {
    top: fun.convert-px(15);
  }

  &--active {
    background: transparent;
    border: transparent;

    &::before {
      transform-origin: 50% 50%;
      transform: rotate(45deg);
      bottom: 0;
    }

    &::after {
      transform-origin: 50% 50%;
      transform: rotate(-45deg);
      top: 0;
    }
  }
}
