@use "../../../../styles/abstracts/placeholders";

.author {
  color: var(--color-primary-darker);
  font-family: var(--font-family-regular);
  font-size: var(--font-size-md);
  font-weight: 600;
  text-shadow: none;
}

.body {
  overflow-wrap: break-word;

  :global {
    a {
      @extend %link;

      &[hreflang],
      &.download,
      &.external {
        @extend %link-with-icon;
      }

      &[hreflang] {
        @extend %link-with-lang;
      }

      &[hreflang]:not(.download, .external) {
        --is-icon-hidden: "";
      }

      &.download {
        @extend %download-link;
      }

      &.external {
        @extend %external-link;
      }

      &.download,
      &.external {
        &:not([hreflang]) {
          --is-lang-hidden: "";
        }
      }

      &.external.download {
        @extend %external-download-link;
      }
    }
  }
}
