@use "../../../../styles/abstracts/functions" as fun;

.wrapper {
  --size: var(--btn-size, #{fun.convert-px(60)});
  --flipper-speed: 0.5s;

  width: var(--size);
  height: var(--size);
}

.wrapper,
.front,
.back {
  display: flex;
  place-content: center;
  place-items: center;
}
