@use "@styles/abstracts/functions" as fun;

.wrapper {
  width: min(calc(100vw - (var(--spacing-md) * 2)), fun.convert-px(500));
  margin: auto;

  &--reply {
    width: 100%;
    margin-top: var(--spacing-sm);
    padding: var(--spacing-md);
    position: relative;
    background: var(--color-bg);
    border: fun.convert-px(1) solid var(--color-border);
    box-shadow: fun.convert-px(3) fun.convert-px(3) 0 0
        var(--color-shadow-light),
      fun.convert-px(4) fun.convert-px(4) fun.convert-px(3) fun.convert-px(-2)
        var(--color-shadow);
  }
}

.title {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
