@use "@styles/abstracts/functions" as fun;

.wrapper {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) min(calc(100vw - var(--spacing-md) * 2), 100ch)
    minmax(0, 1fr);
  align-items: center;
  padding: var(--spacing-sm) 0 var(--spacing-md);
  position: relative;
  background: var(--color-bg);
  border-bottom: fun.convert-px(3) solid var(--color-border-lighter);
}

.body {
  grid-column: 2;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-md);
}
