@use "@styles/abstracts/functions" as fun;

.icon {
  display: block;
  margin: auto;
  width: var(--icon-size, #{fun.convert-px(40)});
}

.line {
  fill: var(--color-primary-lighter);
  stroke: var(--color-border);
  stroke-width: 3;
}
