@use "../functions" as fun;

@mixin visually-hidden {
  width: fun.convert-px(1);
  height: fun.convert-px(1);
  padding: 0;
  position: absolute !important;
  overflow: hidden;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  word-break: normal;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
