@use "../../../../styles/abstracts/functions" as fun;

.wrapper {
  width: var(--logo-size, fun.convert-px(100));
  height: var(--logo-size, fun.convert-px(100));
  max-width: 100%;
  max-height: 100%;
}

.bg-left {
  fill: var(--color-primary-light);
}

.bg-right {
  fill: var(--color-primary-dark);
}

.letter {
  fill: var(--color-fg-inverted);
  stroke: var(--color-primary-darker);
  stroke-width: 5;
}

.letter-shadow {
  fill: var(--color-shadow-darker);
  stroke: var(--color-shadow-darker);
  stroke-width: 5;
}
