@use "../../../styles/abstracts/placeholders";

@mixin styles {
  ol,
  ul {
    @extend %regular-list;

    margin: var(--spacing-sm) 0;
  }

  li {
    @extend %list-item;
  }

  dl {
    @extend %inline-description-list;

    width: fit-content;
    margin: var(--spacing-sm) 0;
  }

  dt {
    @extend %term;
  }

  dd {
    @extend %description;
  }
}
