@use "../../../styles/abstracts/placeholders";

@mixin styles {
  ol,
  ul {
    @extend %regular-list;

    margin: var(--spacing-sm) 0;
  }

  li {
    @extend %list-item;
  }

  dl {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-2xs);
    width: fit-content;
    margin: var(--spacing-sm) 0;

    & & {
      margin: var(--spacing-2xs) 0 0;
    }
  }

  dt {
    color: var(--color-fg-light);
    font-weight: 600;
  }

  dd {
    margin: 0;
    word-break: break-all;
  }
}
