@use "@styles/abstracts/mixins" as mix;

.wrapper {
  grid-column: 2;

  &--left {
    margin: var(--spacing-md) 0;
  }

  &--right {
    margin: var(--spacing-md) 0 0;
  }

  @include mix.media("screen") {
    @include mix.dimensions("md") {
      align-self: stretch;
      margin: 0 var(--spacing-xs) var(--spacing-md);

      &--right {
        grid-row: 2 / 4;
        grid-column: 3;
      }
    }

    @include mix.dimensions("lg") {
      &--left {
        grid-row: 2 / 4;
        grid-column: 1;
      }
    }
  }
}

.body {
  @include mix.media("screen") {
    @include mix.dimensions("md") {
      align-self: flex-start;
      width: 100%;
      position: sticky;
      top: var(--spacing-xs);
    }
  }
}
