@use "@styles/abstracts/mixins" as mix;

.wrapper {
  grid-column: 2;
  margin: var(--spacing-md) 0;

  @include mix.media("screen") {
    @include mix.dimensions("md") {
      align-self: stretch;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      margin: var(--spacing-xs);

      &--right {
        grid-row: 2 / 4;
        grid-column: 3;
      }
    }

    @include mix.dimensions("lg") {
      &--left {
        grid-row: 2 / 4;
        grid-column: 1;
      }
    }
  }
}

.body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  max-height: 100vh;

  @include mix.media("screen") {
    @include mix.dimensions("md") {
      align-self: flex-start;
      width: 100%;
      max-height: calc(100vh - (var(--spacing-xs) * 2));
      position: sticky;
      top: var(--spacing-xs);
    }
  }
}
