.label {
  &--visible#{&}--left {
    margin-right: var(--spacing-2xs);
  }

  &--visible#{&}--right {
    margin-left: var(--spacing-2xs);
  }
}

.wrapper {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
}
