.wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: var(--spacing-sm);
  align-items: center;
  width: fit-content;

  &--centered {
    margin-inline: auto;
  }
}

.list {
  place-content: center;
}

.item {
  display: flex;
}
