@use "../../../styles/abstracts/functions" as fun;

.icon {
  display: block;
  width: var(--icon-size, #{fun.convert-px(40)});
}

.lock {
  fill: var(--color-bg);
  stroke: var(--color-primary-darker);
  stroke-width: 3;
}

.lines {
  fill: var(--color-fg);
  stroke-width: 4;
}

.seal-top {
  fill: var(--color-primary-lighter);
  stroke: var(--color-primary-darker);
  stroke-width: 2;
}

.seal-bottom {
  fill: var(--color-primary-lighter);
  stroke: var(--color-primary-darker);
  stroke-width: 2;
}

.diploma {
  fill: var(--color-bg);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}

.top {
  fill: var(--color-primary-lighter);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}

.handle {
  fill: var(--color-primary-lighter);
  stroke: var(--color-primary-darker);
  stroke-width: 3;
}

.bottom {
  fill: var(--color-primary);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}
