@use "@styles/abstracts/functions" as fun;

.icon {
  display: block;
  width: var(--icon-size, #{fun.convert-px(40)});
}

.envelop {
  fill: var(--color-primary-lighter);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}

.lines {
  fill: var(--color-fg);
}

.background {
  fill: var(--color-shadow-dark);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}

.paper {
  fill: var(--color-bg);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}
