@use "../../../styles/abstracts/functions" as fun;

.icon {
  display: block;
  width: var(--icon-size, #{fun.convert-px(40)});
}

.wall {
  fill: var(--color-bg);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}

.indoor {
  fill: var(--color-shadow-dark);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}

.door {
  fill: var(--color-primary-lighter);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}

.roof {
  fill: var(--color-primary-lighter);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}

.chimney {
  fill: var(--color-bg);
  stroke: var(--color-primary-darker);
  stroke-width: 4;
}

.lines {
  fill: var(--color-primary-darker);
  stroke-width: 4;
}
