@use "@styles/abstracts/mixins" as mix;

.wrapper {
  .label {
    margin-right: auto;
  }

  @include mix.media("screen") {
    @include mix.dimensions(null, "2xs", "height") {
      font-size: var(--font-size-sm);

      .heading {
        font-size: var(--font-size-lg);
      }

      .label {
        font-size: var(--font-size-sm);
      }
    }
  }
}
