@use "../../../styles/abstracts/functions" as fun;
@use "../../../styles/abstracts/variables" as var;

.wrapper {
  width: 100%;

  @media screen and (max-height: #{var.get-breakpoint("2xs")}) and (max-width: #{var.get-breakpoint("sm")}) {
    --first-col-width: #{fun.convert-px(160)};
    --col-gap: var(--spacing-xl);

    display: grid;
    grid-template-columns: var(--first-col-width) 1fr;
    gap: var(--spacing-xl);
  }
}

.form {
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--spacing-lg);
}

.item {
  width: 100%;
  margin: 0 0 var(--spacing-2xs);

  > *:last-child {
    margin-left: auto;
  }
}

.icon {
  margin-right: var(--spacing-2xs);
}
