@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/mixins" as mix;

.item {
  width: 100%;
  margin: 0;

  &::before {
    display: none;
  }
}

.link {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: var(--spacing-2xs) var(--spacing-sm);
  background: none;
  border-bottom: fun.convert-px(1) solid var(--color-border-light);
  text-decoration: underline solid transparent 0;
  transition: all 0.16s ease-in-out 0s, text-decoration-color 0s;

  &:hover,
  &:focus {
    background: var(--color-bg-secondary);
  }

  &:focus {
    color: var(--color-primary);
    text-decoration-color: var(--color-primary-light);
    text-decoration-thickness: 0.25ex;
  }

  &:active {
    background: var(--color-bg-tertiary);
    text-decoration-color: transparent;
    text-decoration-thickness: 0;
  }
}

.list {
  width: 100%;
  margin: 0;
  counter-reset: link;

  @include mix.media("screen") {
    @include mix.dimensions("lg") {
      font-size: var(--font-size-sm);
      font-weight: 500;
    }
  }

  > .item .link {
    counter-increment: link;

    &::before {
      content: counters(link, ".") ". ";
      color: var(--color-secondary);
      padding-right: var(--spacing-2xs);
    }
  }

  .item .item .link::before {
    padding-left: var(--spacing-sm);
  }

  .item .item .item .link::before {
    padding-left: var(--spacing-lg);
  }
}
