.wrapper {
  max-width: 100%;
  padding: 0;
  border: none;

  &--inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .legend {
      float: left;
      margin-right: var(--spacing-2xs);
    }
  }

  &--stacked {
    .legend {
      padding: 0 var(--spacing-xs) 0 0;
    }
  }
}

.legend {
  color: var(--color-primary-darker);
  font-size: var(--font-size-md);
  font-weight: 600;
}
