@use "@styles/abstracts/mixins" as mix;
@use "@styles/abstracts/placeholders";

.list {
  @extend %flex-list;

  gap: var(--spacing-xs);
  place-content: center;
}

.item {
  @include mix.media("screen") {
    @include mix.dimensions("sm") {
      &::before {
        content: "\2022";
        margin-right: var(--spacing-xs);
      }
    }
  }
}
