@use "@styles/abstracts/placeholders";

.wrapper {
  font-size: var(--font-size-sm);
}

.list {
  @extend %flex-list;
  gap: var(--spacing-xs);
}

.item {
  &::before {
    content: "\2022";
    margin-right: var(--spacing-xs);
  }
}
