@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/mixins" as mix;
@use "@styles/abstracts/placeholders";

.section {
  --column-3: 0;
  --grid-gap: 0;

  composes: grid from "@styles/layout/_grid.scss";
  align-items: first baseline;
}

.year {
  grid-column: 2;
  margin-bottom: 0;

  @include mix.media("screen") {
    @include mix.dimensions("md") {
      grid-column: 1;
      justify-self: end;
      position: sticky;
      top: 0;
      margin-right: var(--spacing-lg);
    }
  }
}

.list {
  @extend %reset-ordered-list;

  grid-column: 2;
  margin: 0 auto var(--spacing-md);
}

li.item {
  margin: 0 0 var(--spacing-md) 0;
  border-bottom: fun.convert-px(1) solid var(--color-border-light);

  &:first-of-type {
    margin-top: var(--spacing-sm);

    @include mix.media("screen") {
      @include mix.dimensions("md") {
        margin-top: 0;
      }
    }
  }
}
