@use "../../../styles/abstracts/functions" as fun;
@use "../../../styles/abstracts/mixins" as mix;

.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: clamp(var(--spacing-md), 4vw, var(--spacing-xl));
  margin-inline: auto;
  padding: var(--spacing-md);
  border: fun.convert-px(1) solid var(--color-border);

  @include mix.media("screen") {
    @include mix.dimensions("sm") {
      grid-template-columns: minmax(0, fun.convert-px(400)) auto;
      align-items: center;
    }
  }
}

.heading {
  margin-bottom: var(--spacing-md);
}

.cover {
  justify-self: center;
  margin: 0;

  > img {
    max-height: 100%;
    object-fit: cover;
  }
}

.meta {
  display: grid;
  grid-auto-flow: row;
  gap: clamp(var(--spacing-2xs), 1vw, var(--spacing-sm))
    clamp(var(--spacing-sm), 1vw, var(--spacing-md));
  width: auto;

  @include mix.media("screen") {
    @include mix.dimensions("xs") {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
