@use "@styles/abstracts/mixins" as mix;

.list {
  display: flex;
  flex-flow: column wrap;
  gap: var(--spacing-2xs);
  margin: 0;

  &__item {
    display: flex;
    flex-flow: column wrap;
    gap: var(--spacing-2xs);

    @include mix.media("screen") {
      @include mix.dimensions("sm") {
        flex-flow: row wrap;
      }
    }
  }

  &__term {
    flex: 0 0 max-content;
    color: var(--color-fg-light);
    font-weight: 600;
  }

  &__description {
    flex: 0 0 auto;
    margin: 0;

    @include mix.media("screen") {
      @include mix.dimensions("sm") {
        &:not(:first-of-type) {
          &::before {
            content: "/";
            margin: 0 var(--spacing-2xs);
          }
        }
      }
    }
  }
}
