.term {
  color: var(--color-fg-light);
  font-weight: 600;
}

.description {
  margin: 0;
  word-break: break-all;
}

.wrapper {
  display: flex;
  width: fit-content;

  &--has-separator {
    .description:not(:first-of-type) {
      &::before {
        content: "/\0000a0";
      }
    }
  }

  &--inline,
  &--inline-values {
    flex-flow: row wrap;
    column-gap: var(--spacing-2xs);
  }

  &--inline-values {
    .term {
      flex: 1 1 100%;
    }
  }

  &--stacked {
    flex-flow: column wrap;
  }
}
