/// List Reset
%reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 0;
  }
}

/// Ordered List Reset
%reset-ordered-list {
  @extend %reset-list;

  li {
    display: list-item;
    counter-increment: none;

    &::before {
      display: none;
    }
  }
}

/// Display an inline list with flexbox
%flex-list {
  @extend %reset-list;

  display: flex;
  flex-flow: row wrap;
}
