@use "../../../styles/abstracts/functions" as fun;
@use "../../../styles/abstracts/mixins" as mix;
@use "../../../styles/abstracts/placeholders";

.avatar {
  img {
    border-radius: fun.convert-px(3);
    box-shadow:
      0 0 0 fun.convert-px(1) var(--color-shadow-light),
      fun.convert-px(2) fun.convert-px(2) 0 fun.convert-px(1)
        var(--color-shadow);
  }
}

.author {
  color: var(--color-primary-darker);
  font-family: var(--font-family-regular);
  font-size: var(--font-size-md);
  font-weight: 600;
  text-align: center;
  text-shadow: none;
}

.body {
  overflow-wrap: break-word;

  :global {
    a {
      @extend %link;

      &[hreflang],
      &.download,
      &.external {
        @extend %link-with-icon;
      }

      &[hreflang] {
        @extend %link-with-lang;
      }

      &[hreflang]:not(.download, .external) {
        --is-icon-hidden: "";
      }

      &.download {
        @extend %download-link;
      }

      &.external {
        @extend %external-link;
      }

      &.download,
      &.external {
        &:not([hreflang]) {
          --is-lang-hidden: "";
        }
      }

      &.external.download {
        @extend %external-download-link;
      }
    }
  }
}

.form {
  margin-top: var(--spacing-sm);

  form > * {
    margin-inline: auto;
  }
}
