@use "../../../styles/abstracts/functions" as fun;
@use "../../../styles/abstracts/mixins" as mix;

.wrapper {
  padding: var(--spacing-sm) var(--spacing-md);
  border: fun.convert-px(1) solid var(--color-border);

  .meta {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      min(calc(100vw - (var(--spacing-md) * 2)), 23ch)
    );
    row-gap: var(--spacing-2xs);

    @include mix.media("screen") {
      @include mix.dimensions("md") {
        grid-template-columns: repeat(
          auto-fit,
          min(calc(100vw - (var(--spacing-md) * 2)), 20ch)
        );
      }
    }

    &--has-techno {
      div:last-child {
        gap: var(--spacing-2xs);

        dd {
          padding: 0 var(--spacing-2xs);
          border: fun.convert-px(1) solid var(--color-border-dark);

          &::before {
            display: none;
          }
        }
      }
    }
  }

  .cover {
    width: fit-content;
    height: fun.convert-px(175);
    margin-bottom: var(--spacing-sm);
    padding: var(--spacing-2xs);
    border: fun.convert-px(1) solid var(--color-border);

    img {
      object-fit: contain;
    }
  }
}
