@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/mixins" as mix;
@use "@styles/abstracts/placeholders";

.section {
  @include mix.media("screen") {
    @include mix.dimensions("md") {
      display: grid;
      grid-template-columns: fun.convert-px(150) minmax(0, 1fr);
      align-items: first baseline;
      margin-left: fun.convert-px(-150);
    }
  }
}

.list {
  @extend %reset-ordered-list;

  .item {
    margin-bottom: var(--spacing-md);
    border-bottom: fun.convert-px(1) solid var(--color-border);
  }
}

.year {
  @include mix.media("screen") {
    @include mix.dimensions("md") {
      grid-column: 1;
      justify-self: end;
      padding-right: var(--spacing-lg);
      position: sticky;
      top: var(--spacing-xs);
    }

    @include mix.dimensions("lg") {
      padding-right: var(--spacing-xl);
    }
  }
}

.btn {
  display: flex;
  margin: auto;
}
