@use "../../../styles/abstracts/placeholders";

.wrapper {
  &:hover {
    .icon {
      :global {
        animation: pulse 1.5s ease-in-out 0.2s infinite;
      }
    }
  }
}

.title {
  font-size: var(--font-size-2xl);
}

.intro {
  > *:last-child {
    margin-bottom: 0;
  }

  :global {
    a {
      @extend %link;

      &[hreflang],
      &.download,
      &.external {
        @extend %link-with-icon;
      }

      &[hreflang] {
        @extend %link-with-lang;
      }

      &[hreflang]:not(.download, .external) {
        --is-icon-hidden: "";
      }

      &.download {
        @extend %download-link;
      }

      &.external {
        @extend %external-link;
      }

      &.download,
      &.external {
        &:not([hreflang]) {
          --is-lang-hidden: "";
        }
      }

      &.external.download {
        @extend %external-download-link;
      }
    }
  }
}

:global([data-theme="light"]) {
  :local {
    .intro {
      :global {
        a {
          &.download {
            @extend %light-download-link;
          }

          &.external {
            @extend %light-external-link;
          }
        }
      }
    }
  }
}

:global([data-theme="dark"]) {
  :local {
    .intro {
      :global {
        a {
          &.download {
            @extend %dark-download-link;
          }

          &.external {
            @extend %dark-external-link;
          }
        }
      }
    }
  }
}
