.nav {
  &--main {
    width: fit-content;
  }

  &--main & {
    &__item {
      flex: 1;
    }
  }

  &--footer & {
    &__item:not(:first-child) {
      &::before {
        content: "\2022";
        margin-right: var(--spacing-2xs);
      }
    }
  }
}
