@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/mixins" as mix;

audio,
button,
figure,
form,
img,
input,
optgroup,
pre,
select,
table,
textarea,
video {
  max-width: 100%;
}

audio,
img,
video {
  height: auto;
  vertical-align: middle;
}

button,
label,
summary {
  cursor: pointer;
}

iframe {
  width: 100%;
  max-width: 100%;
  margin: var(--spacing-sm) 0;
}

p + iframe {
  margin-top: 0;
}

* {
  scrollbar-color: var(--color-primary) var(--color-bg-tertiary);
  scrollbar-width: auto;
}

*::-webkit-scrollbar {
  width: fun.convert-px(12);
  height: fun.convert-px(12);
}

*::-webkit-scrollbar-track {
  background: var(--color-bg-tertiary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: fun.convert-px(6);
  border: fun.convert-px(3) solid var(--color-bg-tertiary);
}

*::selection {
  background: var(--color-primary-opacity);
  color: var(--color-fg);
  text-shadow: none;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background: var(--color-bg);
  border-top: max(0.4vw, fun.convert-px(6)) solid;
  border-bottom: max(0.4vw, fun.convert-px(6)) solid;
  border-image: radial-gradient(
      ellipse at center,
      var(--color-primary-lighter) 20%,
      var(--color-primary) 100%
    )
    1;
  color: var(--color-fg);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  line-height: var(--line-height);
}

#__next {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
