@use "../abstracts/functions" as fun;
@use "../abstracts/mixins" as mix;

audio,
button,
figure,
form,
img,
input,
optgroup,
pre,
select,
table,
textarea,
video {
  max-width: 100%;
}

audio,
img,
video {
  height: auto;
  vertical-align: middle;
}

button,
summary {
  cursor: pointer;
}

iframe {
  width: 100%;
  max-width: 100%;
  margin: var(--spacing-sm) 0;
}

p + iframe {
  margin-top: 0;
}

p {
  font-size: var(--font-size-md);
  margin: 0 0 var(--spacing-sm);
}

small {
  font-size: var(--font-size-sm);
}

button,
input,
optgroup,
select,
textarea {
  line-height: var(--line-height);
}

code,
kbd,
pre,
var,
samp {
  font-family: var(--font-family-mono);
}

pre {
  display: block;
  max-width: 100%;
  overflow: auto;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

:not(pre) > code,
kbd,
var,
samp {
  background: var(--color-bg-code);
  border: fun.convert-px(1) solid var(--color-border);
  border-radius: fun.convert-px(3);
  color: var(--color-primary-darker);
  font-style: normal;
  padding: fun.convert-px(2) fun.convert-px(5) fun.convert-px(1)
    fun.convert-px(5);
}

kbd {
  box-shadow: fun.convert-px(1) fun.convert-px(1) 0 fun.convert-px(1)
    var(--color-shadow);
}

* {
  scrollbar-color: var(--color-primary) var(--color-bg-tertiary);
  scrollbar-width: auto;
}

*::-webkit-scrollbar {
  width: fun.convert-px(12);
  height: fun.convert-px(12);
}

*::-webkit-scrollbar-track {
  background: var(--color-bg-tertiary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: fun.convert-px(6);
  border: fun.convert-px(3) solid var(--color-bg-tertiary);
}

*::selection {
  background: var(--color-primary-opacity);
  color: var(--color-fg);
  text-shadow: none;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  line-height: var(--line-height);
}

#__next {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  border-top: max(0.4vw, fun.convert-px(6)) solid;
  border-bottom: max(0.4vw, fun.convert-px(6)) solid;
  border-image: radial-gradient(
      ellipse at center,
      var(--color-primary-lighter) 20%,
      var(--color-primary) 100%
    )
    1;
}
