@use "@styles/abstracts/variables" as var;

:root {
  --color-bg: #{var.$light-theme_white};
  --color-bg-opacity: #{var.$light-theme_white-o90};
  --color-bg-secondary: #{var.$light-theme_grey-brighter};
  --color-bg-tertiary: #{var.$light-theme_grey-bright};
  --color-fg: #{var.$light-theme_black};
  --color-fg-light: #{var.$light-theme_grey-dark};
  --color-fg-inverted: #{var.$light-theme_white};
  --color-primary: #{var.$light-theme_blue};
  --color-primary-opacity: #{var.$light-theme_blue-o30};
  --color-primary-light: #{var.$light-theme_blue-bright};
  --color-primary-lighter: #{var.$light-theme_blue-brighter};
  --color-primary-dark: #{var.$light-theme_blue-dark};
  --color-primary-darker: #{var.$light-theme_blue-darker};
  --color-secondary: #{var.$light-theme_orange};
  --color-border: #{var.$light-theme_grey};
  --color-border-dark: #{var.$light-theme_grey-dark};
  --color-border-light: #{var.$light-theme_grey-bright};
  --color-shadow: #{var.$light-theme_grey-dark-o40};
  --color-shadow-dark: #{var.$light-theme_grey-dark-o70};
  --color-shadow-light: #{var.$light-theme_grey-dark-o20};
  --color-token-red: #{var.$light-theme_red};
  --color-token-green: #{var.$light-theme_green};
  --color-token-purple: #{var.$light-theme_purple};
  --color-token-magenta: #{var.$light-theme_magenta};
  --color-token-cyan: #{var.$light-theme_cyan};
  --color-token-blue: #{var.$light-theme_blue};
  --color-token-yellow: #{var.$light-theme_yellow};
  --color-token-orange: #{var.$light-theme_orange};
}

[data-theme="dark"] {
  --color-bg: #{var.$dark-theme_black};
  --color-bg-opacity: #{var.$dark-theme_black-o90};
  --color-bg-light: #{var.$dark-theme_grey};
  --color-bg-secondary: #{var.$dark-theme_black-bright};
  --color-bg-tertiary: #{var.$dark-theme_black-brighter};
  --color-fg: #{var.$dark-theme_white};
  --color-fg-light: #{var.$dark-theme_grey};
  --color-fg-inverted: #{var.$dark-theme_black};
  --color-primary: #{var.$dark-theme_blue};
  --color-primary-opacity: #{var.$dark-theme_blue-o30};
  --color-primary-light: #{var.$dark-theme_blue-bright};
  --color-primary-lighter: #{var.$dark-theme_blue-brighter};
  --color-primary-dark: #{var.$dark-theme_blue-dark};
  --color-primary-darker: #{var.$dark-theme_blue-darker};
  --color-secondary: #{var.$dark-theme_orange};
  --color-border: #{var.$dark-theme_grey-dark};
  --color-border-dark: #{var.$dark-theme_grey};
  --color-border-light: #{var.$dark-theme_black-brighter};
  --color-shadow: #{var.$dark-theme_grey-dark-o40};
  --color-shadow-dark: #{var.$dark-theme_grey-dark-o70};
  --color-shadow-light: #{var.$dark-theme_grey-dark-o20};
  --color-token-red: #{var.$dark-theme_red};
  --color-token-green: #{var.$dark-theme_green};
  --color-token-purple: #{var.$dark-theme_purple};
  --color-token-magenta: #{var.$dark-theme_magenta};
  --color-token-cyan: #{var.$dark-theme_cyan};
  --color-token-blue: #{var.$dark-theme_blue};
  --color-token-yellow: #{var.$dark-theme_yellow};
  --color-token-orange: #{var.$dark-theme_orange};
}
