@use "@styles/abstracts/functions" as fun;
@use "@styles/abstracts/mixins" as mix;

/*=========================================================================
>>> TABLE OF CONTENTS:
===========================================================================
	1.0 Accessibility
	2.0. Alignments
===========================================================================*/

//=========================================================================
// 1.0. Accessibility
//=========================================================================

/* Text meant only for screen readers. */
.screen-reader-text {
  @include mix.visually-hidden;

  &:focus {
    display: block;
    width: auto;
    height: auto;
    left: var(--spacing-2xs);
    top: var(--spacing-xs);
    z-index: 100000;
    clip: auto !important;
    color: var(--color-fg-inverted);
  }
}

@include mix.motion("reduce") {
  *,
  *::after,
  *::before {
    animation: none !important;
    transition: none !important;
  }
}

[data-reduced-motion="true"] {
  *,
  *::after,
  *::before {
    animation: none !important;
    transition: none !important;
  }
}
