@use "sass:math";
@use "../abstracts/variables" as var;

:root {
  --icon-size-xs: #{var.icon-size("xs")};
  --icon-size-sm: #{var.icon-size("sm")};
  --icon-size-md: #{var.icon-size("md")};
  --icon-size-lg: #{var.icon-size("lg")};
  --icon-size-xl: #{var.icon-size("xl")};
}
