.form {
  display: flex;
  flex-flow: column wrap;
  gap: var(--spacing-xs);
  max-width: 45ch;
}

.field {
  width: 100%;
}

.btn {
  width: fit-content;
  margin: var(--spacing-sm) auto 0;
}

.spinner {
  margin: var(--spacing-sm) auto;
}
